.flat {
    display: flex;
    width: 275px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 24px rgb(51 51 51 / 8%);


}
.flat_image {
    height: 275px;

}
.flat_image img {

    width: 100%;
    object-fit: contain;

}
.flat_head {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #333;
    font-weight: 500;

}
.flat_body {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.info {
    display: flex;
    font-size: 1rem;
    line-height: 1rem;
    color: #333333;
    margin-top: 0.5rem;
    white-space: pre-wrap;
    justify-content: center;
    padding-bottom: 15px;

}

.info-item {
    font-weight: 500;

}

.info-item:not(:first-child) {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 1px solid #d2d2d2;
}

.info-button {
    margin-top: 0.5rem;
    border: 1px solid #d2d2d2;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #fff;
    color: #4f4f4f;
    align-self: center;
    margin-bottom: 15px;
    padding: 0 34px;
}

.info-button:hover {
    background-color: #ddd;
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #d4d3c9;
}


